{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
        <div class="card shadow-sm p-4">
            <div class="card-body">
                <h2 class="card-title text-center mb-4 fw-bold">Login</h2>
                <form action="{{ url_for('login') }}" method="POST">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username:</label>
                        <input type="text" id="username" name="username" class="form-control" required>
                    </div>
                    <div class="mb-4">
                        <label for="loginPassword" class="form-label">Password:</label> {# UBAH ID DI SINI #}
                        <div class="input-group">
                            <input type="password" id="loginPassword" name="password" class="form-control" required> {# UBAH ID DI SINI #}
                            <button class="btn btn-outline-secondary" type="button" id="toggleLoginPassword">
                                <i class="bi bi-eye"></i>
                            </button>
                        </div>
                    </div>
                    <div class="d-grid gap-2 mb-3">
                        <button type="submit" class="btn btn-primary btn-lg">Login</button>
                    </div>
                    <div class="text-center">
                        <a href="#" class="text-decoration-none text-muted">Lupa Kata Sandi?</a>
                    </div>
                </form>
                <p class="text-center text-muted mt-4">Belum punya akun? <a href="{{ url_for('register') }}" class="text-decoration-none">Daftar sekarang</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}